.container {
  width: 50%;

  background: rgba(255, 248, 248, 0.14);
  border-radius: var(--main-raius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);

  padding: 20px;
  position: relative;
}

.input-container {
  position: relative;
  padding: 10px;
  background-color: #ffffff13;
  border-radius: var(--main-raius);
}

#wordInp {
  width: 100%;
  background-color: transparent;
  color: var(--color1);
  outline: 0;
  border: 0;
  font-size: 1.3rem;
  text-transform: initial;
}

#wordInp::placeholder {
  color: var(--color1);
}

.button-and-icon {
  width: 90px;
  padding: 5px 12px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-radius: calc(var(--main-raius) - 2px);
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: 1px solid var(--dark-blue);
  transition: all0.5s ease-in-out;
}

.button-and-icon[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.submitBtn {
  color: var(--dark-blue);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: all 0.5s ease;
}

.search-icon {
  color: #ffffff;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 0.9em;
  pointer-events: none;
}

.button-and-icon:hover .search-icon,
.button-and-icon:focus-within .search-icon {
  opacity: 1;
}

.button-and-icon:hover .submitBtn,
.button-and-icon:focus-within .submitBtn {
  transform: translateX(-9px);
  color: var(--color1);
}

.button-and-icon:hover,
.button-and-icon:focus-within {
  background-color: var(--dark-blue);
}
.error {
  margin-top: 1.5rem;
  color: #160202;
  background-color: rgb(250 45 45);
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .container{
    width: 70%;
  }
}
@media (max-width: 425px) {
  .container{
    width: 90%;
    top: -10%;
  }
  #wordInp{
    font-size: 16px;
  }
  .error{
    font-size: 1rem;
  }
}