/* meanings-container is parent of tab-container */
.meanings-container {
  gap: 0.5rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  margin: var(--m-block);
  gap: 0.5rem 1rem;
}

.tab-button {
  display: flex;
  gap: 0.5rem;
  color: var(--color2);
  cursor: pointer;
  justify-content: flex-start;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.25rem 0.4rem;
  border-radius: 0.7rem;
  transition: all 0.1s ease;
}

.tab-button:focus,
.tab-button:hover {
  outline: 1px solid var(--color2);
}

.active {
  background-color: var(--color2);
  color: var(--color1);
}

.tab-item {
  width: max-content;
  border: 1px solid var(--color2);
  padding: 0 20px;
  border-radius: var(--main-raius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--m-block);
}
.tab-content{
  margin-top: 0.5rem;
  letter-spacing: 1px;
}
@media only screen and (max-width: 500px) {
  .button-container{
    gap: 0.4rem 0.6rem;
  }
}