body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.container {
  width: clamp(300px, 50%, 60%);

  background: rgba(255, 248, 248, 0.14);
  border-radius: var(--main-raius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(5px);

  padding: 20px;
  position: relative;
}
.input-container {
  position: relative;
  padding: 10px;
  background-color: #ffffff13;
  border-radius: var(--main-raius);
}

#wordInp {
  width: 100%;
  background-color: transparent;
  color: var(--color1);
  outline: 0;
  border: 0;
  font-size: 1.3rem;
  text-transform: initial;
}

#wordInp::placeholder {
  color: var(--color1);
}

.submitBtn {
  padding: 5px 17px;
  border-radius: var(--main-raius);
  border: none;
  outline: none;
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}
.submitBtn:hover {
  color: #fff;
  background: linear-gradient(112deg, #4e1f53 0%, #272f50 100%);
}
/* or h1 tag */
.selfWord {
  color: var(--color1);
  margin: var(--m-block);
}

/* pronunciation and read icon */
.info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color1);
}

.play-audio {
  font-size: 1.6rem;
  cursor: pointer;
}

.play-audio:hover {
}

.pointer {
  cursor: pointer;
}

.selected {
  color: var(--color1);
  background-color: var(--color2);
}
