:root {
  --main-raius: 7px;
  --color1: #dedcdc;
  --color2: #0099ff;
  --color3: #fdf8f8;
  --dark-blue: #2a2a6c;
  --m-block: 1rem 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(55, 48, 107);
  background: linear-gradient(112deg, #4e1f53 0%, #272f50 100%);
  color: white;

  background-image: repeating-linear-gradient(
      328deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 31px,
      transparent 31px,
      transparent 35px
    ),
    repeating-linear-gradient(
      473deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 31px,
      transparent 31px,
      transparent 35px
    ),
    repeating-linear-gradient(
      448deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 31px,
      transparent 31px,
      transparent 35px
    ),
    repeating-linear-gradient(
      238deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 31px,
      transparent 31px,
      transparent 35px
    ),
    linear-gradient(270deg, rgb(128, 200, 80), rgb(0, 0, 255));
}

#root {
  outline: 1px solid red;
  position: absolute;
  width: 100%;
  height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;
}
